body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    background-color: black;
    overflow: hidden;
    color: white;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#container {
    margin: 0 auto;
    z-index: 10;
}
h1 {
    font-size: 100px;
    left: 0;
    line-height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    mix-blend-mode: exclusion;
}

h2 {
    font-size: 30px;
    left: 0;
    line-height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 100%;
    mix-blend-mode: exclusion;
}

a {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: white;
    text-decoration: none;
}
